.inputTesting {
  margin: 0.5em;
  height: 100%;
}

.inputTesting span {
  padding: 4px;
  margin: 2px;
  border-radius: 2px;
  float: left;
  font-size: 0.6em;
}

.it-works {
  background-color: orange;
}

.initial-border {
  border: 2px dotted white;
}

.single-key-works {
  border: 2px solid purple;
}